*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}
.nav{
    width: 100%;
    height: 8%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 30px;
}

.nav .logo{
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 27px;
    cursor: pointer;
    
}
.nav .list{
    color: rgb(206, 209, 220);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.nav .list ul{
    list-style-type: none;
    display: flex;
}

.nav .list ul li{
    margin: 0px 15px;
    cursor: pointer;
}

.nav .list ul li:hover{
    color: white;
}

.nav .button{
    height: 25px;
    color: black;
    background-color: #fbe850;
    border-radius: 1px;
    padding: 8px 18px;
    transition: all 0.4s;
    border: 1px solid #fbe850;
    cursor: pointer;

}

.nav .button:hover{
    background-color: black;
  color: #fbe850;
}
/**********************************************************/
.home .description{
width: 40%;
margin-left: 220px;
margin-top: 70px;
}

.home .description h1{
    font-size: 60px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
}
.home .description p{
    color: #848484;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 16px;
  margin-top: 20px;
}
.home .companies{
    margin-left: 210px;
    margin-top: 30px;
}
 .home .companies img{
    margin: 35px;
    size: 40px;
 }
 /**********************************************************/

 .sec2{
    margin-left: 220px;
    margin-right: 200px;
    display: flex;
    justify-content: space-evenly;
 }

 .sec2 .data {
    margin-top: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
  }
  .sec2 .data h2 {
    cursor: pointer;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: lighter;
  }
  .sec2 .data h2 i {
    margin-left: 20px;
  }
  .sec2 .data p {
    color: #848484;
    size: 50px;
  }

  /**********************************************************/

 .sec3{
    margin-top: 150px;
    background-color: #2e3038;
    display: flex;
    justify-content: space-around;
    color: white;
    height: 370px;
 }
 .sec3 .left{
    margin-left: 220px;
    width: 35%;
    
 }
 .sec3 .left h3{
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    margin-top: 30px;
 }
 .sec3 p{
    color: #848484;
    font-size: 18px;
    margin-top: 30px;

 }

 .sec3 .right{
    margin-right: 220px;
    width: 35%;
  
 }

   /**********************************************************/

.sec4{
    margin-top: 100px;
    color: white;
    margin-left: 220px;
    width: 50%;
   }
.sec4 h3{
    color: white;
    font-size: 36px;
    font-family: "Prata", serif;
   }

.sec4 p{
    color: #848484;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sec4 a{
    text-decoration: none;
    background-color: #fbe850;
    border-radius: 1px;
    padding: 8px 18px;
    transition: all 0.4s;
    border: 1px solid #fbe850;
    color: black;
    margin-top: 10px;
}



.sec4 a:hover{
    background-color: black;
    color: #fbe850;
}



/**********************************************************/

.sec5{
    margin-top: 60px;
    color: white;
    background-color: #2e3038;
    display: flex;
    justify-content: space-between;
}

.sec5 h4{
    margin-left: 215px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    padding: 10px;
}

.sec5 .acc{
    padding: 20px;
    margin-right: 220px;
    cursor: pointer;
    
}